<h2 class="text-align-center">Registration</h2>
<div class="app-plate">
  <div class="registration-form" [formGroup]="registrationForm">
    <div>
      <div class="form__control">
        <label for="name">Name</label>
        <input type="text" id="name" placeholder="Input text" formControlName="name"/>
        <span *ngIf="registrationForm.get('name')!.touched && registrationForm.get('name')!.invalid" id="nameErrorMessage" class="text-danger">Name is required.</span>
      </div>
      <div class="form__control">
        <label for="email">Email</label>
        <input type="text" id="email" placeholder="Input text" formControlName="email"/>
        <span *ngIf="registrationForm.get('email')!.touched && registrationForm.get('email')!.invalid" id="emailErrorMessage" class="text-danger">Email is required.</span>
      </div>
      <div class="form__control">
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Input text" formControlName="password"/>
        <span *ngIf="registrationForm.get('password')!.touched && registrationForm.get('password')!.invalid" id="passwordErrorMessage" class="text-danger">Password is required.</span>
      </div>
    </div>
    <div class="form__action">
      <app-button [buttonText]="'login'" (click)="submit()"></app-button>
    </div>
    <div class="form__login">
      <span>If you have an account you may&nbsp;</span>
      <span class="login-link">Login</span>
    </div>
  </div>
</div>
