<h2 class="text-align-center">Login</h2>
<div class="app-plate">
  <form #loginForm="ngForm">
    <div class="login-form">
      <div>
        <div class="form__control">
          <label for="email">Email</label>
          <input type="text" id="email" name="email" ngModel #email="ngModel" emailValidator required class="form-control" placeholder="Input text" />
          <span *ngIf="email.touched && email.errors" id="emailErrorMessage" class="text-danger">Email is required.</span>
        </div>
        <div class="form__control">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" ngModel #password="ngModel" required class="form-control" placeholder="Input text" />
          <span *ngIf="password.touched && password.errors" id="passwordErrorMessage" class="text-danger">Password is required.</span>
        </div>
      </div>
      <div>
        <div class="form__action">
          <app-button [buttonText]="'login'" (click)="submit()"></app-button>
        </div>
        <div class="form__text">
          <span>If you don't have an account you may&nbsp;</span>
          <ng-content></ng-content>
        </div>
      </div>
    </div>
  </form>
</div>